@tailwind base;
@tailwind components;
@tailwind utilities;
/* Print-specific styles */
@media print {
    .hide{
        display: none;
    }
    /* Global styles */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
}
